thead tr th
{
  width: 3em;
  border: 1px solid black;
  text-align: center;
}

thead tr th.op_tbl_var
{
  background-color: #ffff99;
}

thead tr th.op_tbl_op
{
  background-color: #99e0ff;
}

a.action
{
  background-color: #aaaaaa;
  color: #000000;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-left: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

td
{
  width: 3em;
  border: 1px solid black;
  text-align: center;
}

